In [19]:
# libraries

from datetime import datetime
import os
import re
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [20]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
# print(thead)
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
# print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-2], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 71 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,348,6,4
1,Andaman and Nicobar Islands,11,0,0
2,Arunachal Pradesh,1,0,0
3,Assam,29,0,0
4,Bihar,39,0,1
5,Chandigarh,18,7,0
6,Chhattisgarh,10,9,0
7,Delhi,720,25,12
8,Goa,7,0,0
9,Gujarat,241,26,17
10,Haryana,169,29,3
11,Himachal Pradesh,18,2,1
12,Jammu and Kashmir,158,4,4
13,Jharkhand,13,0,1
14,Karnataka,181,28,5
15,Kerala,357,96,2
16,Ladakh,15,10,0
17,Madhya Pradesh,259,0,16
18,Maharashtra,1364,125,97
19,Manipur,2,1,0
20,Mizoram,1,0,0
21,Odisha,44,2,1
22,Puducherry,5,1,0
23,Punjab,101,4,8
24,Rajasthan,463,21,3
25,Tamil Nadu,834,21,8
26,Telengana,442,35,7
27,Tripura,1,0,0
28,Uttarakhand,35,5,0
29,Uttar Pradesh,410,31,4
30,West Bengal,116,16,5

# Data Cleaning

In [21]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 71 foreign Nationals),Cured/Discharged/Migrated,Death,Date
0,Andhra Pradesh,348,6,4,2020-04-10
1,Andaman and Nicobar Islands,11,0,0,2020-04-10
2,Arunachal Pradesh,1,0,0,2020-04-10
3,Assam,29,0,0,2020-04-10
4,Bihar,39,0,1,2020-04-10
5,Chandigarh,18,7,0,2020-04-10
6,Chhattisgarh,10,9,0,2020-04-10
7,Delhi,720,25,12,2020-04-10
8,Goa,7,0,0,2020-04-10
9,Gujarat,241,26,17,2020-04-10
10,Haryana,169,29,3,2020-04-10
11,Himachal Pradesh,18,2,1,2020-04-10
12,Jammu and Kashmir,158,4,4,2020-04-10
13,Jharkhand,13,0,1,2020-04-10
14,Karnataka,181,28,5,2020-04-10
15,Kerala,357,96,2,2020-04-10
16,Ladakh,15,10,0,2020-04-10
17,Madhya Pradesh,259,0,16,2020-04-10
18,Maharashtra,1364,125,97,2020-04-10
19,Manipur,2,1,0,2020-04-10
20,Mizoram,1,0,0,2020-04-10
21,Odisha,44,2,1,2020-04-10
22,Puducherry,5,1,0,2020-04-10
23,Punjab,101,4,8,2020-04-10
24,Rajasthan,463,21,3,2020-04-10
25,Tamil Nadu,834,21,8,2020-04-10
26,Telengana,442,35,7,2020-04-10
27,Tripura,1,0,0,2020-04-10
28,Uttarakhand,35,5,0,2020-04-10
29,Uttar Pradesh,410,31,4,2020-04-10
30,West Bengal,116,16,5,2020-04-10

In [22]:
df_bs['Name of State / UT'].unique()

array(['Andhra Pradesh', 'Andaman and Nicobar Islands',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Tamil Nadu', 'Telengana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [23]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 71 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,348,6,4,2020-04-10,15.9129,79.7400
1,Andaman and Nicobar Islands,11,0,0,2020-04-10,11.7401,92.6586
2,Arunachal Pradesh,1,0,0,2020-04-10,28.2180,94.7278
3,Assam,29,0,0,2020-04-10,26.2006,92.9376
4,Bihar,39,0,1,2020-04-10,25.0961,85.3131
5,Chandigarh,18,7,0,2020-04-10,30.7333,76.7794
6,Chhattisgarh,10,9,0,2020-04-10,21.2787,81.8661
7,Delhi,720,25,12,2020-04-10,28.7041,77.1025
8,Goa,7,0,0,2020-04-10,15.2993,74.1240
9,Gujarat,241,26,17,2020-04-10,22.2587,71.1924
10,Haryana,169,29,3,2020-04-10,29.0588,76.0856
11,Himachal Pradesh,18,2,1,2020-04-10,31.1048,77.1734
12,Jammu and Kashmir,158,4,4,2020-04-10,33.7782,76.5762
13,Jharkhand,13,0,1,2020-04-10,23.6102,85.2799
14,Karnataka,181,28,5,2020-04-10,15.3173,75.7139
15,Kerala,357,96,2,2020-04-10,10.8505,76.2711
16,Ladakh,15,10,0,2020-04-10,34.2996,78.2932
17,Madhya Pradesh,259,0,16,2020-04-10,22.9734,78.6569
18,Maharashtra,1364,125,97,2020-04-10,19.7515,75.7139
19,Manipur,2,1,0,2020-04-10,24.6637,93.9063
20,Mizoram,1,0,0,2020-04-10,23.1645,92.9376
21,Odisha,44,2,1,2020-04-10,20.9517,85.0985
22,Puducherry,5,1,0,2020-04-10,11.9416,79.8083
23,Punjab,101,4,8,2020-04-10,31.1471,75.3412
24,Rajasthan,463,21,3,2020-04-10,27.0238,74.2179
25,Tamil Nadu,834,21,8,2020-04-10,11.1271,78.6569
26,Telengana,442,35,7,2020-04-10,18.1124,79.0193
27,Tripura,1,0,0,2020-04-10,23.9408,91.9882
28,Uttarakhand,35,5,0,2020-04-10,30.0668,79.0193
29,Uttar Pradesh,410,31,4,2020-04-10,26.8467,80.9462
30,West Bengal,116,16,5,2020-04-10,22.9868,87.8550

In [24]:
df_bs.isna().sum()

Name of State / UT                                         0
Total Confirmed cases (Including 71 foreign Nationals)     0
Cured/Discharged/Migrated                                  0
Death                                                      0
Date                                                       0
Latitude                                                   0
Longitude                                                  0
dtype: int64

# Saving data

In [25]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 71 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,348,6,4,2020-04-10,15.9129,79.7400
1,Andaman and Nicobar Islands,11,0,0,2020-04-10,11.7401,92.6586
2,Arunachal Pradesh,1,0,0,2020-04-10,28.2180,94.7278
3,Assam,29,0,0,2020-04-10,26.2006,92.9376
4,Bihar,39,0,1,2020-04-10,25.0961,85.3131
5,Chandigarh,18,7,0,2020-04-10,30.7333,76.7794
6,Chhattisgarh,10,9,0,2020-04-10,21.2787,81.8661
7,Delhi,720,25,12,2020-04-10,28.7041,77.1025
8,Goa,7,0,0,2020-04-10,15.2993,74.1240
9,Gujarat,241,26,17,2020-04-10,22.2587,71.1924
10,Haryana,169,29,3,2020-04-10,29.0588,76.0856
11,Himachal Pradesh,18,2,1,2020-04-10,31.1048,77.1734
12,Jammu and Kashmir,158,4,4,2020-04-10,33.7782,76.5762
13,Jharkhand,13,0,1,2020-04-10,23.6102,85.2799
14,Karnataka,181,28,5,2020-04-10,15.3173,75.7139
15,Kerala,357,96,2,2020-04-10,10.8505,76.2711
16,Ladakh,15,10,0,2020-04-10,34.2996,78.2932
17,Madhya Pradesh,259,0,16,2020-04-10,22.9734,78.6569
18,Maharashtra,1364,125,97,2020-04-10,19.7515,75.7139
19,Manipur,2,1,0,2020-04-10,24.6637,93.9063
20,Mizoram,1,0,0,2020-04-10,23.1645,92.9376
21,Odisha,44,2,1,2020-04-10,20.9517,85.0985
22,Puducherry,5,1,0,2020-04-10,11.9416,79.8083
23,Punjab,101,4,8,2020-04-10,31.1471,75.3412
24,Rajasthan,463,21,3,2020-04-10,27.0238,74.2179
25,Tamil Nadu,834,21,8,2020-04-10,11.1271,78.6569
26,Telengana,442,35,7,2020-04-10,18.1124,79.0193
27,Tripura,1,0,0,2020-04-10,23.9408,91.9882
28,Uttarakhand,35,5,0,2020-04-10,30.0668,79.0193
29,Uttar Pradesh,410,31,4,2020-04-10,26.8467,80.9462
30,West Bengal,116,16,5,2020-04-10,22.9868,87.8550

In [26]:
df_bs.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 71 foreign Nationals) ',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Combining data

In [27]:
! ls C:\Users\imdevskp\Desktop\covid_india\.day_by_day_data

2020_03_21.csv
2020_03_22.csv
2020_03_23.csv
2020_03_24.csv
2020_03_25.csv
2020_03_26.csv
2020_03_27.csv
2020_03_28.csv
2020_03_29.csv
2020_03_30.csv
2020_03_31.csv
2020_04_01.csv
2020_04_02.csv
2020_04_03.csv
2020_04_04.csv
2020_04_05.csv
2020_04_06.csv
2020_04_07.csv
2020_04_08.csv
2020_04_09.csv
2020_04_10.csv

In [28]:
# pd.read_csv?

In [29]:
# complete data

loc = "C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
   
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
                                      'Total Confirmed cases *': 'Total Confirmed cases', 
                                      'Total Confirmed cases ': 'Total Confirmed cases'})
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .. foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    dfs.append(df_temp)
    
# print(dfs)

complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

# complete_data['Death'] = complete_data['Death'].str.extract('(\d+)')
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

# complete_data.tail(50)

In [30]:
complete_data.columns

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death',
       'Total Confirmed cases'],
      dtype='object')

In [31]:
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [32]:
complete_data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Rajasthan', 'Haryana',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram',
       'Andaman and Nicobar Islands', 'Goa', 'Assam', 'Jharkhand',
       'Arunachal Pradesh', 'Tripura'], dtype=object)

In [33]:
complete_data.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
821,2020-04-10,Telengana,0,0,35,18.1124,79.0193,7,442
822,2020-04-10,Tripura,0,0,0,23.9408,91.9882,0,1
823,2020-04-10,Uttar Pradesh,0,0,31,26.8467,80.9462,4,410
824,2020-04-10,Uttarakhand,0,0,5,30.0668,79.0193,0,35
825,2020-04-10,West Bengal,0,0,16,22.9868,87.8550,5,116

In [34]:
# sorted(complete_data['Name of State / UT'].unique())

In [35]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        826 non-null    datetime64[ns]
 1   Name of State / UT                          826 non-null    object
 2   Total Confirmed cases (Indian National)     826 non-null    int32
 3   Total Confirmed cases ( Foreign National )  826 non-null    int32
 4   Cured/Discharged/Migrated                   826 non-null    int32
 5   Latitude                                    826 non-null    float64
 6   Longitude                                   826 non-null    float64
 7   Death                                       826 non-null    int32
 8   Total Confirmed cases                       826 non-null    int64
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(1)
memory usage: 45.3+ KB

In [36]:
complete_data.to_csv('complete.csv', index=False)